@import "core";
body {
  background: var(--bkg-gradient);
}

.city-timezone {
  color: var(--accent-color);
  font-size: 10pt;
}

.clock {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  background: var(--bkg-gradient);
  outline: 2.5px solid var(--accent-color);
  animation: fadeIn 1.5s ease-in-out;
}
